<header class="header">
  <img
    src="../../assets/Planta_de_circuito-removebg-preview.png"
    alt="Logo da empresa"
    class="header-logo"
    [routerLink]="''"
  />
  <ul class="header-menu">
    <li [routerLink]="''">Sobre</li>
    <li [routerLink]="'binary-classification'">Classificação Binária</li>
    <li [routerLink]="'linear-regression'">Regressão Linear</li>
  </ul>

  <a href="https://github.com/machinelearningfree/free-neurons" target="_blank">
    <img
      src="../../assets/Planta_de_circuito__1_-removebg-preview.png"
      alt="logo do github"
      class="header-github"
    />
  </a>
</header>
