<p>
  O termo “Regressão” surgiu em 1885 com o antropólogo, matemático e estatístico
  Francis Galton. As primeiras aplicações do método surgiram na Antropometria,
  ou seja, estudo das medidas e da matemática dos corpos humanos. Ao estudar as
  estaturas de pais e filhos, Galton observou que filhos de pais com altura
  baixa em relação à média tendem a ser mais altos que seus pais, e filhos de
  pais com estatura alta em relação à média tendem a ser mais baixos que seus
  pais, ou seja, as alturas dos seres humanos em geral tendem a regredir à
  média. Regressão linear é um tipo de algoritmo supervisionado, portanto antes
  de entender como funciona o algoritmo é importante conhecer o que seria
  aprendizado supervisionado.
</p>

<p>
  Conceitos importantes Antes de prosseguir, há alguns conceitos importantes que
  precisam estar bem claros na sua mente. Variável independente ou preditora: é
  aquela que será passada para o modelo, tendo influência na variável que
  queremos encontrar. Por exemplo: Se queremos prever as vendas de sorvete, a
  estação do ano pode interferir nas vendas. Variável alvo ou dependente: é a
  variável que queremos prever. No exemplo acima seria as vendas de sorvete.
</p>
