<section class="praticing">
  <h2>
    Bem-vindos ao Free-Neurons: um Sistema WEB para classificação e predição de
    dados
  </h2>
  <p class="praticing-paragraph">Vamos Praticar ?</p>

  <section class="about">
    <div [routerLink]="'linear-regression'">
      <mat-icon>show_chart</mat-icon>
      <span>Regressão Linear </span>
      <span class="information"
        >Faça a predição de seus dados linear a partir de uma regressão
        linear</span
      >
    </div>
    <div [routerLink]="'binary-classification'">
      <mat-icon>grain</mat-icon>
      <span>Classificação Binária</span>
      <span class="information"
        >Classifique uma base de dados linear a partir de uma classificação
        binária
      </span>
    </div>
  </section>
</section>
