.praticing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 60px;
  line-height: 1.5;
  color: #1f89ff;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 30px;
  padding-top: 20px;
}

p {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  color: #1f89ff;
  margin-bottom: 30px;
}

.about {
  display: flex;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid white;
  background-color: white;
  margin-right: 15px;
  width: 262px;
  height: 262px;
  cursor: pointer;
  border-radius: 20px;

  span {
    color: #020d14;
    font-size: 20px;
  }

  .information {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
  }
  mat-icon {
    color: #1e96fa;
    font-size: 30px;
    margin-bottom: 20px;
  }

  &:hover {
    background-color: #e2f0fe;
  }
}
