.canvas {
  height: 260px;
  width: 450px;
  padding-top: 50px;
}

form {
  width: 100%;
}
h2 {
  margin-top: 15px;
}
main {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #f9f9f9;
}

.training {
  border-top: 1px solid #a1c7e6;
}

.result {
  border-top: 1px solid #a1c7e6;
}

.example-full-width {
  display: block;
  width: 30%;
  margin-bottom: 15px;
}

button {
  margin-bottom: 10px;
}

.file {
  margin-bottom: 10px;
}

.samples {
  font-weight: 600;
  color: #1f89ff;
}

::-webkit-file-upload-button {
  background-color: #3f51b5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: 0;
  padding: 0.5rem;

  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
