<main>
  <div class="canvas">
    <canvas #training></canvas>
  </div>

  <p class="samples">{{ acurracy }}</p>
  <p class="samples">{{ validation }}</p>

  <div class="area">
    <form class="training" [formGroup]="formTraining">
      <mat-progress-bar
        *ngIf="isloading || isloadingResult"
        mode="indeterminate"
      ></mat-progress-bar>
      <h2>Área reservada para treinamento</h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade de Neurônios</mat-label>
        <input
          formControlName="neurons"
          matInput
          placeholder="Quantidade de Neurônios"
          type="number"
        />
        <mat-hint>Quantidade de Neurônios</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade de interações</mat-label>
        <input
          type="number"
          formControlName="epochs"
          matInput
          placeholder="Interações"
        />
        <mat-hint
          >Esse parâmetro é para ser insirido a quantidade de interações
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Learning Rate</mat-label>
        <input
          matInput
          placeholder="Learning Rate"
          formControlName="learningReating"
          type="number"
        />
        <mat-hint>Taxa de aprendizado </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Porcetagem de amostras que deseja treinar</mat-label>
        <mat-select formControlName="samples">
          <mat-option value="0.1">10%</mat-option>
          <mat-option value="0.2">20%</mat-option>
          <mat-option value="0.3">30%</mat-option>
          <mat-option value="0.4">40%</mat-option>
        </mat-select>

        <mat-hint>São os denominados dados de validação </mat-hint>
      </mat-form-field>

      <button
        [disabled]="!formTraining.valid || isloading || isloadingResult"
        mat-raised-button
        color="primary"
        (click)="learnLinear()"
      >
        <span *ngIf="!(isloading || isloadingResult)">Treine</span>
        <div *ngIf="isloading || isloadingResult" class="spiner">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      </button>

      <div class="file">
        <input
          name="fupload"
          type="file"
          accept=".csv"
          (change)="fileSelect($event)"
          formControlName="file"
          placeholder="Clique aqui para escolher uma arquivo .csv"
          [matTooltip]="
            !formTraining.value.file
              ? 'O arquivo deve ser no formato CSV. Com três colunas na seguinte estrutura: X | Y | C . Onde x e y são as dimensões e c o número da classe (0 ou 1)'
              : ''
          "
        />
      </div>
      <p class="samples" *ngIf="samples">
        Há {{ samples }} amostras nesse arquivo
      </p>
    </form>

    <div class="canvas">
      <canvas #classifique></canvas>
    </div>

    <form [formGroup]="formClassify" class="result">
      <mat-progress-bar
        *ngIf="isloading || isloadingResult"
        mode="indeterminate"
      ></mat-progress-bar>
      <h2>Área reservada para classificação</h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>X</mat-label>
        <input formControlName="x" matInput type="number" />
        <mat-hint>Dimensão x do dado que deseja classificar </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Y</mat-label>
        <input formControlName="y" matInput type="number" />
        <mat-hint>Dimensão y do dado que deseja classificar </mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade de Neurônios</mat-label>
        <input
          formControlName="neurons"
          matInput
          placeholder="Quantidade de Neurônios"
          type="number"
        />
        <mat-hint>Quantidade de Neurônios</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade de interações</mat-label>
        <input
          matInput
          formControlName="epochs"
          placeholder="Quantidade de interações"
          type="number"
        />
        <mat-hint
          >Esse parâmetro é para ser insirido a quantidade de interações
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Learning Rate</mat-label>
        <input
          formControlName="learningReating"
          matInput
          placeholder="Learning Rate"
          type="number"
        />
        <mat-hint>Taxa de aprendizado </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Porcetagem de amostras que deseja treinar</mat-label>
        <mat-select formControlName="samples">
          <mat-option value="0.1">10%</mat-option>
          <mat-option value="0.2">20%</mat-option>
          <mat-option value="0.3">30%</mat-option>
          <mat-option value="0.4">40%</mat-option>
        </mat-select>
        <mat-hint>São os denominados dados de validação </mat-hint>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="
          !formClassify.valid ||
          isloading ||
          isloadingResult ||
          !formTraining.value.file
        "
        (click)="classify()"
      >
        <span *ngIf="!(isloading || isloadingResult)">Classifique</span>
        <div *ngIf="isloading || isloadingResult" class="spiner">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      </button>

      <p class="samples">O resultado é: {{ results }}</p>
    </form>
  </div>
</main>
