<main>
  <div class="area">
    <form class="training" [formGroup]="formTraining">
      <mat-progress-bar
        *ngIf="isloading || isloadingResult"
        mode="indeterminate"
      ></mat-progress-bar>
      <h2>Área reservada para treinamento</h2>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>X</mat-label>
        <input formControlName="x" matInput type="number" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Y</mat-label>
        <input formControlName="y" matInput type="number" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Z</mat-label>
        <input formControlName="z" matInput type="number" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>R</mat-label>
        <input formControlName="r" matInput type="number" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade de Neurônios</mat-label>
        <input
          formControlName="neurons"
          matInput
          placeholder="Quantidade de Neurônios"
          type="number"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade de interações</mat-label>
        <input
          type="number"
          formControlName="epochs"
          matInput
          placeholder="Interações"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Learning Rate</mat-label>
        <input
          matInput
          placeholder="Learning Rate"
          formControlName="learningReating"
          type="number"
        />
      </mat-form-field>

      <button
        [disabled]="!formTraining.valid || isloading || isloadingResult"
        mat-raised-button
        color="primary"
        (click)="learnLinear()"
      >
        <span *ngIf="!(isloading || isloadingResult)">Treine</span>
        <div *ngIf="isloading || isloadingResult" class="spiner">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      </button>

      <div class="file">
        <input
          name="fupload"
          type="file"
          accept=".csv"
          (change)="fileSelect($event)"
          formControlName="file"
          placeholder="Clique aqui para escolher uma arquivo .csv"
          [matTooltip]="
            !formTraining.value.file
              ? 'O arquivo deve ser do formato CSV. Com quatro colunas na seguinte estrutura:X | Y | Z | R | C. Onde x, y, z, r são as dimensões e c o número da classe. A classe deve ser representado por  0,0,0 ou 0,0,1 ou 0,1,0 ou 0,1,1 ou 1,0,0 ou 1,0,1 ou 1,1,0 ou 1,1,1. Ou seja podem até no máximo 8 classes'
              : ''
          "
        />
      </div>

      <p class="samples" *ngIf="samples">
        Há {{ samples }} amostras nesse arquivo
      </p>
      <p class="samples">
        O resultado do treinamento é: [ {{ resultTraining }} ]
      </p>
    </form>

    <form [formGroup]="formClassify" class="result">
      <mat-progress-bar
        *ngIf="isloading || isloadingResult"
        mode="indeterminate"
      ></mat-progress-bar>
      <h2>Área reservada para classificação</h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>X</mat-label>
        <input formControlName="x" matInput type="number" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Y</mat-label>
        <input formControlName="y" matInput type="number" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Z</mat-label>
        <input formControlName="z" matInput type="number" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>R</mat-label>
        <input formControlName="r" matInput type="number" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade de Neurônios</mat-label>
        <input
          formControlName="neurons"
          matInput
          placeholder="Quantidade de Neurônios"
          type="number"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade de interações</mat-label>
        <input
          matInput
          formControlName="epochs"
          placeholder="Quantidade de interações"
          type="number"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Learning Rate</mat-label>
        <input
          formControlName="learningReating"
          matInput
          placeholder="Learning Rate"
          type="number"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="
          !formClassify.valid ||
          isloading ||
          isloadingResult ||
          !formTraining.value.file
        "
        (click)="classify()"
      >
        <span *ngIf="!(isloading || isloadingResult)">Classifique</span>
        <div *ngIf="isloading || isloadingResult" class="spiner">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      </button>

      <p class="samples">O resultado é: [ {{ results }} ]</p>
    </form>
  </div>
</main>
